In [1]:
import pandas as pd

In [2]:
import numpy as np

In [30]:
import math as m
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn import naive_bayes
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
import csv

In [40]:
#data_1 = np.loadtxt('statlog.csv')
data_2 = np.loadtxt('cleveland.csv',delimiter=',')

ValueError: could not convert string to float: '?'

In [37]:
data_1.shape

(270, 14)

In [107]:
cleveland_data = pd.read_csv("cleveland.csv", header= None)

In [108]:
statlog_data = pd.read_csv("statlog.csv", header= None, sep=" ")

In [109]:
cleveland_data.head()

     0    1    2      3      4    5    6      7    8    9    10   11   12  13
0  63.0  1.0  1.0  145.0  233.0  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0   0
1  67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2
2  67.0  1.0  4.0  120.0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0   1
3  37.0  1.0  3.0  130.0  250.0  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0   0
4  41.0  0.0  2.0  130.0  204.0  0.0  2.0  172.0  0.0  1.4  1.0  0.0  3.0   0

In [110]:
cleveland_data.columns = [ 'age','sex','cp','thestbps','chol','restecg','fbs','thalach','exang','oldpeak','slope','ca','thal','label']

In [111]:
cleveland_data.head()

,age,sex,cp,thestbps,chol,restecg,fbs,thalach,exang,oldpeak,slope,ca,thal,label
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [112]:
statlog_data.columns = [ 'age','sex','cp','thestbps','chol','restecg','fbs','thalach','exang','oldpeak','slope','ca','thal','label']

In [113]:
statlog_data.head()

,age,sex,cp,thestbps,chol,restecg,fbs,thalach,exang,oldpeak,slope,ca,thal,label
0,70.0,1.0,4.0,130.0,322.0,0.0,2.0,109.0,0.0,2.4,2.0,3.0,3.0,2
1,67.0,0.0,3.0,115.0,564.0,0.0,2.0,160.0,0.0,1.6,2.0,0.0,7.0,1
2,57.0,1.0,2.0,124.0,261.0,0.0,0.0,141.0,0.0,0.3,1.0,0.0,7.0,2
3,64.0,1.0,4.0,128.0,263.0,0.0,0.0,105.0,1.0,0.2,2.0,1.0,7.0,1
4,74.0,0.0,2.0,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1.0,3.0,1

In [114]:
frames = [cleveland_data, statlog_data]

In [115]:
result = pd.concat(frames)

In [116]:
result.head()

,age,sex,cp,thestbps,chol,restecg,fbs,thalach,exang,oldpeak,slope,ca,thal,label
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [172]:
aa = np.array(result)

In [173]:
aa.shape

(573, 14)

In [186]:
y = pd.DataFrame(statlog_data.loc[:,statlog_data.columns=='label'])
x = pd.DataFrame(statlog_data.loc[:,statlog_data.columns!= 'label'])

In [184]:
x['thal'][0]

0    6
0    3
Name: thal, dtype: object

In [149]:
#x.thal.replace(to_replace='?', value=thal_mean, inplace=True)
x.thal.replace(to_replace='6.0', value=6.0, inplace=True)
x.thal.replace(to_replace='3.0', value=3.0, inplace=True)
x.thal.replace(to_replace='7.0', value=7.0, inplace=True)

In [142]:
x.ca.replace(to_replace='0.0', value=0.0, inplace=True)
x.ca.replace(to_replace='3.0', value=3.0, inplace=True)
x.ca.replace(to_replace='2.0', value=2.0, inplace=True)
x.ca.replace(to_replace='1.0', value=1.0, inplace=True)
x.ca.replace(to_replace='?', value=ca_mean, inplace=True)

In [190]:
x_train,x_test = train_test_split(x,test_size=0.2,random_state=0)
y_train, y_test = train_test_split(y, test_size=0.2,random_state=0)

In [155]:
print(x_train.shape , x_test.shape , x.shape)

(458, 13) (115, 13) (573, 13)

# SVM

In [192]:
model = svm.SVC(gamma='auto')
model.fit (x_train, y_train)
model.score(x_test, y_test)

C:\Users\MitTal\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.5555555555555556

In [93]:
x.thal.replace(to_replace='?', value=0.0, inplace=True)

In [94]:
x.thal.unique()

array(['6.0', '3.0', '7.0', 0.0, 3.0, 7.0, 6.0], dtype=object)

In [95]:
x.thal.replace(to_replace='6.0', value=6.0, inplace=True)
x.thal.replace(to_replace='3.0', value=3.0, inplace=True)
x.thal.replace(to_replace='7.0', value=7.0, inplace=True)

In [90]:
x.describe()

,age,sex,cp,thestbps,chol,restecg,fbs,thalach,exang,oldpeak,slope,thal
count,573.000000,573.000000,573.000000,573.000000,573.000000,573.000000,573.000000,573.000000,573.000000,573.000000,573.000000,573.000000
mean,54.436300,0.678883,3.165794,131.527051,248.090750,0.148342,1.005236,149.640489,0.328098,1.044503,1.593368,4.699825
std,9.063965,0.467314,0.954607,17.708934,51.710215,0.355749,0.995606,22.992319,0.469931,1.152631,0.614872,1.955077
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,212.000000,0.000000,0.000000,133.000000,0.000000,0.000000,1.000000,3.000000
50%,55.000000,1.000000,3.000000,130.000000,243.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,3.000000
75%,61.000000,1.000000,4.000000,140.000000,277.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,7.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,7.000000

In [101]:
result.thal.value_counts()

3.0    166
3.0    152
7.0    117
7.0    104
6.0     18
6.0     14
?        2
Name: thal, dtype: int64

In [102]:
result.ca.unique()

array(['0.0', '3.0', '2.0', '1.0', '?', 3.0, 0.0, 1.0, 2.0], dtype=object)

In [162]:
result.ca.value_counts()

0.0    176
0.0    160
1.0     65
1.0     58
2.0     38
2.0     33
3.0     20
3.0     19
?        4
Name: ca, dtype: int64

In [103]:
result.ca.replace(to_replace='0.0', value=0.0, inplace=True)
result.ca.replace(to_replace='3.0', value=3.0, inplace=True)
result.ca.replace(to_replace='2.0', value=2.0, inplace=True)
result.ca.replace(to_replace='1.0', value=1.0, inplace=True)

In [104]:
result.ca.unique()

array([0.0, 3.0, 2.0, 1.0, '?'], dtype=object)

In [105]:
result = result[result.thal !='?']

In [106]:
result= result[result.ca !='?']

# ANN

In [193]:
mlp = MLPClassifier(hidden_layer_sizes=(100,100,100,100), max_iter =200,random_state=None)
mlp.fit(x_train, y_train)
predictedOutput = mlp.predict(x_test)

C:\Users\MitTal\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:916: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [194]:
mlp.score(x_train, y_train)

0.7824074074074074

In [195]:
confusion_matrix(y_test,predictedOutput)

array([[28,  2],
       [ 9, 15]], dtype=int64)

In [197]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB().fit(x_train,y_train)
accu = clf.score(x_train, y_train)
print(accu)

0.8796296296296297

C:\Users\MitTal\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [134]:
tree = DecisionTreeClassifier()
tree = tree.fit(x_train,y_train)
y_pred = tree.predict(x_test)
tree.score(x_train,y_train)

0.6550218340611353